.chart-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart-total-title {
    color: var(--border-color);
}

.no-data {
    text-align: center;
    color: var(--border-color);
}


@media only screen and (max-width: 760px) {
    .total-wrapper {
        flex-direction: column;
    }

    .chart-item-wrapper {
        gap: 15px;
    }

}