.documents-wrapper {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.no-documents {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: var(--border-color);
}

.document-section-title {
    font-size: 1.3rem;
    text-transform: capitalize !important;
}

.documents-content {
    width: 100%;
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.items-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.document-item {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(64, 64, 69, .1);
    border-radius: 20px;
    width: 250px;
    margin: 10px;

}

.document-item i {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1F2E9;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.document-item button {
    background-color: #8AD1AA;
    margin-top: 15px;
    color: var(--primary-text-color);
    width: 100%;
}


.document-item .title {
    font-size: 1.5rem;
    margin: 15px 0 0 0;
    padding: 0;
}

.document-item .button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.document-item .button-wrapper button {
    background-color: transparent !important;
    padding: 0 !important;

}

.document-item .button-wrapper i {
    transition: all 0.32s;
    background-color: #8AD1AA;
    border-radius: 10px;
    padding: 0 !important;
    opacity: 0.2;

}

.document-item .button-wrapper i:hover {
    background-color: #7CBC99;
    opacity: 1;
}

.document-item .button-wrapper .delete i {
    color: #ffffff;
    margin: 0 !important;
    background-color: #E55151 !important;
    transition: all 0.32s;

}

.document-item .button-wrapper .delete i:hover {
    margin: 0 !important;
    background-color: #ce4848 !important;

}

.document-item .type {
    color: var(--border-color);
}