p {
    margin: 0 !important;
}

.container.credit-card,
.container.transaction-form {
    border-radius: var(--container-border-radius);
    background-color: var(--dark-green);
    max-width: 300px;
    height: auto;
    padding: 2rem;
}

.container.credit-card h2,
.container.transaction-form h2 {
    color: #ffffff;
    font-size: 1.2rem;
}

.container.credit-card {
    margin-bottom: 20px;
    padding: 1rem;
}


.credit-card-container {
    min-height: 160px;
    padding: 10px;
    border-radius: 20px;
    background:
    conic-gradient(#8ad1aa 25%,#0000 0) 0 0/calc(2*32px) calc(32px/9.5),
    conic-gradient(#8ad1aa 25%,#0000 0) 0 0/calc(32px/9.5) calc(2*32px),
    repeating-conic-gradient(#0000 0 25%,#8ad1aa 0 50%) 
     32px 0 /calc(2*32px) calc(2*32px),
    radial-gradient(50% 50%,#7bb796 98%,#8ad1aa) 
     0 0/32px 32px;

    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 25px;

}

.credit-card-number h5 {
    color: #ffffff;
    margin: 0;
}

.credit-card-container .logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8rem;
}

.details-container {
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}

.expiry,
.name {
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.date,
.full-name {
    color: var(--primary-text-color);
    font-weight: 600;
}

.account-details {
    margin-top: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.account-details h3 {
    font-size: 1rem;
}

.balance,
.savings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container.transaction-form form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.container.transaction-form input,
.container.transaction-form select {
    padding-left: 10px;
    height: 38px;
    border: none;
    color: var(--primary-text-color);
    border-radius: var(--button-border-radius);
    background-color: #ffffff;
}

.transaction-form h2 {
    text-align: center;
}

.container.transaction-form label {
    text-align: left;
    color: #ffffff;
    font-weight: 600;
}

.fa-cc-visa {
    color: #0D4391
}

/* Hide the default arrow */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add padding to accommodate the custom arrow */
    padding-right: 20px;
    /* Use the custom arrow */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="16" height="16" stroke="%23204F36" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.fa-solid.fa-angle-down {
    font-size: 12px;
}

/* Hide the original file input */
input[type="file"] {
    display: none;
}

/* Style the container */
.file-input-container {
    position: relative;
}

/* Style the label to resemble a button */
.file-input-label {
    width: 100%;
    display: inline-block;
    font-weight: 400 !important;
    padding: 8px 12px;
    background-color: #ffffff;
    color: var(--border-color) !important;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: all 0.2s;
}

/* Style the label when hovering */
.file-input-label:hover {
    background-color: #E1F2E9;
}

.spinner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.spinner-wrapper .spinner-border {
    color: #ffffff !important;
}

form button {
    transition: all 0.5s;
}

form button:hover {
    color: #ffffff;
    background-color: var(--disabled-text-color);
}