.header-wrapper {
    width: 100%;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid rgba(64, 64, 69, .1);

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-wrapper ul {
    list-style-type: none;
    margin-bottom: 0;
}

.nav-list {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.nav-item {
    color: var(--border-color);
}

.active {
    font-weight: 500 !important;
    color: var(--dark-green) !important;
}

.user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-wrapper button {
    background-color: transparent;
    padding: 0 !important;
}

.user-wrapper i {
    color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(64, 64, 69, .1);
    border-radius: 100%;
    transition: all 0.3s ease; /* Smooth transition for border color */
}

.user-wrapper i:hover {
    border-color:  var(--dark-green) ; /* New border color on hover */
}

.user-wrapper h2 {
    font-size: 1.1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    background: var(--dark-green);
    color: #ffffff;
    border-radius: 100%;
    transition: all 0.3s ease; /* Smooth transition for border color */
}

.user-wrapper h2:hover {
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
    .header {
        flex-direction: column;
        gap: 20px;
    }

    .nav-list {
        padding: 0;
        gap: 20px;
    }

    .user-wrapper h2 {
        display: none
    }

}

@media only screen and (max-width: 390px) {
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

  }