.logo-container {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

.dark-logo-container {
    color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

.dark-logo-container i {
  background-color: transparent !important;

}
