.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.components-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}