/* .transactions-wrapper {
  min-height: 100vh;
} */

.container-fluid {
  max-width: 1420px;
  /* border: solid 1px rgba(64, 64, 69, .1); */
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  width: auto;
  text-align: center;
  background-color: white;
}

.container-fluid hr {
  width: 90%;
  height: 2px;
  margin: 0 auto;
  background-color: silver;
  border: solid 1px var(--border-color);
  border-radius: 20px;
}

.delete-button {
  background-color: var(--red-text-color);
}

.title {
  text-transform: capitalize;
}

.icon-wrap i {
  font-size: xx-large;
}

.amount-plus {
  color: green;
}

.amount-minus {
  color: red;
}

.no-transactions {
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: var(--border-color);
}
