.all-transactions-wrapper {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.transaction-type-section {
  width: 100%;
  max-width: 1420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction-section-title {
  font-size: 1.3rem;
  text-transform: capitalize;
}


.all-transactions-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.all-transaction-item {
  text-transform: capitalize;
  border-radius: 20px;
  background-color: #F8F8F8;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

.all-transaction-type {
  color: var(--border-color);
}

.all-transaction-item > * {
  flex: 1;
  margin-right: 10px;
}

.all-button-wrapper {
  cursor: pointer;
}

.all-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-icon-wrapper i {
  font-size: 1.3rem;
  background-color: #E1F2E9; 
  padding: 15px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.all-button-wrapper {
  font-size: 1.3rem;
}

.all-title-wrapper h6,
.all-transaction-type h6 {
  margin-bottom: 0 !important;
}

.amount-plus {
  color: #27A744;
}

.amount-minus {
  color: #DC3445;
}

@media only screen and (max-width: 670px) {
  .all-transaction-item {
      height: auto;
      padding: 20px;
      flex-direction: column;
      gap: 8px;
  }
}